:root {
  --color-black: #2c2c54;
  --color-lightgray: #f7f1e3;
  --color-yellow: #ffda79;
  --color-red: #ff5252;

  --margin-basic: 20px;
  --padding-basic: 20px;
  --fontsize-basic: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

body {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.clock__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--margin-basic) * 3);
  width: 100%;
}

.clock__clock {
  font-size: calc(var(--fontsize-basic) * 5);
  margin-bottom: calc(var(--margin-basic) * 2);
}

.greeting__form {
  display: none;
}

.greeting__form input,
.greeting__form button {
  padding: var(--padding-basic) var(--padding-basic);
  font-size: calc(var(--fontsize-basic) * 2);
}

.greeting__form input {
  margin-right: calc(var(--margin-basic) / 2);
}

.greeting__form button {
  border-radius: 12px;
  background-color: var(--color-yellow);
}

.greeting__title {
  display: none;
  font-size: calc(var(--fontsize-basic) * 4);
}

.show {
  display: block;
}
