:root {
  --color-black: #2c2c54;
  --color-lightgray: #f7f1e3;
  --color-yellow: #ffda79;
  --color-red: #ff5252;

  --margin-basic: 20px;
  --padding-basic: 20px;
  --fontsize-basic: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  color: var(--color-black);
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* clock CSS */
.clock__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--margin-basic) * 2);
  width: 100%;
}

.clock__clock {
  font-size: calc(var(--fontsize-basic) * 5);
}

/* greeting CSS */
.greeting__container {
  margin-bottom: calc(var(--margin-basic) * 2);
}

.greeting__form {
  display: none;
}

.greeting__input,
.greeting__btn {
  padding: calc(var(--padding-basic) * 0.8);
  font-size: calc(var(--fontsize-basic) * 2);
}

.greeting__input {
  margin-right: calc(var(--margin-basic) / 2);
}

.greeting__btn {
  border-radius: 12px;
  background-color: var(--color-yellow);
}

.greeting__desc {
  display: none;
  font-size: calc(var(--fontsize-basic) * 4);
}

.greeting__container .showGreeting {
  display: block;
}

/* focus CSS */

.focus__form--box {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.focus__question {
  display: block;
  font-size: calc(var(--fontsize-basic) * 2);
  font-weight: 600;
  margin-bottom: calc(var(--margin-basic) / 2);
}

.focus__input,
.focus__btn--submit {
  padding: calc(var(--padding-basic) * 0.8);
  font-size: var(--fontsize-basic);
}

.focus__input {
  font-weight: 600;
  margin-right: calc(var(--margin-basic) / 1.5);
}

.focus__btn--submit {
  border-radius: 8px;
  background-color: var(--color-yellow);
  font-size: var(--fontsize-basic);
  font-weight: 600;
}

.focus__answer {
  display: none;
  justify-content: center;
  align-items: center;
}

.focus__answer input {
  transform: scale(2);
  margin-right: var(--margin-basic);
}

.focus__answer p {
  font-size: calc(var(--fontsize-basic) * 1.5);
  font-weight: 600;
  margin-right: var(--margin-basic);
}

.focus__answer button {
  font-size: calc(var(--fontsize-basic) * 0.9);
  font-weight: 600;
  color: var(--color-lightgray);
  background-color: var(--color-red);
  border-radius: 6px;
  padding: calc(var(--padding-basic) * 0.5);
}

.showFocus {
  display: flex;
}
