@import "reset.css";

body {
  background-color: #ffcccc;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.canvas {
  width: 650px;
  height: 650px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 5px 5px #e6e6e6, -5px -5px #e6e6e6;
  margin-bottom: 30px;
}

.control_range {
  margin-bottom: 15px;
}

.control_range > label {
  font-weight: 600;
}

#js-range {
  width: 250px;
}

.color_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color_operation_btn {
  margin-bottom: 30px;
}

.color_operation_btn > button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  background-color: rgba(255, 211, 42, 1);
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 12px;
  cursor: pointer;
}

.color_operation_btn > button:hover {
  background-color: rgba(255, 63, 52, 1);
  transition: background-color 400ms ease-in-out;
}

.color_item_container {
  display: flex;
  margin-bottom: 50px;
}

.color_item {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 50%;
  margin-right: 10px;
}

.color_item:last-of-type {
  margin: 0;
}

.red {
  background-color: #ee5253;
}

.orange {
  background-color: #ff9f43;
}

.pink {
  background-color: #ff9ff3;
}

.mint {
  background-color: #00d2d3;
}

.deep-blue {
  background-color: #341f97;
}

.gray {
  background-color: #8395a7;
}

.green {
  background-color: #1dd1a1;
}

.black {
  background-color: #222f3e;
}

.light-blue {
  background-color: #2e86de;
}
