:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* image */
  --image-size: 60px;

  /* margin, padding */
  --margin-size: 20px;
  --padding-size: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* global */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
  padding: 0;
}

img {
  display: block;
  margin: 0;
}

/* main_container */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
}

button:hover,
.logo:hover {
  transform: scale(1.1);
  transition: transform 250ms ease-in;
}

/* Logo */
.logo {
  margin-bottom: var(--margin-size);
}

/* Button */
.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--margin-size);
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  margin-right: var(--margin-size);
}

.btn:last-of-type {
  margin-right: 0;
}

.img_btn {
  background-color: var(--color-black);
}

.img_btn > img {
  width: var(--image-size);
  height: var(--image-size);
}

.text_btn {
  border-radius: 6px;
  height: 60px;
  padding: var(--padding-size);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.pink {
  background-color: var(--color-pink);
}

/* List_container */
.list_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  height: 60%;
  padding: calc(var(--padding-size) / 2);
  overflow-y: scroll;
}

.list_container::-webkit-scrollbar {
  width: auto;
}

.list_item {
  width: 100%;
  height: 60px;
  background-color: var(--color-white);
  margin-bottom: 10px;
}

.list_item > a {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  color: var(--color-black);
}

.item_image {
  width: var(--image-size);
  height: var(--image-size);
  padding: calc(var(--padding-size) / 2);
  margin-right: var(--margin-size);
}
